{{ extends "theme::layouts/login" }}

{{ section "content" }}

<section class="animated fadeInUp">

    {{ form.open url="admin/login" method="post" }}

    <h1>
        {{ image.img image="theme::img/logo.png" }} Streams
    </h1>

    <div class="form-group">
        {{ form.text name="email" class="form-control" placeholder="Login" }}
    </div>

    <div class="form-group">
        {{ form.password name="password" class="form-control" placeholder="Password" }}
    </div>

    <div class="form-group">
        <label for="remember-me">
            {{ form.checkbox value="true" id="remember-me" }} Remember me
        </label>
    </div>

    <div class="form-group">
        {{ form.submit value="Login" class="btn btn-block btn-primary" }}
    </div>

    {{ form.close }}

</section>

{{ stop }}