{% block content %}

    <div class="container-fluid">

        <ul class="sortable">
            <li>First</li>
            <li>Second</li>
            <li>Third</li>
        </ul>

    </div>

{% endblock %}
