<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        bootstrap="../../../vendor/autoload.php"
        colors="true"
        testdox="true"
        processIsolation="true" 
        stopOnFailure="false">

    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Streams Core">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="display_errors" value="true"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_REFERENCE" value="testing"/>
        <env name="VERSION_IMAGES" value="false"/>
        <env name="VERSION_ASSETS" value="false"/>
    </php>

</phpunit>
