<div class="ui segment">
    <div class="ui two column grid">

        <div class="column">
            {{ buttons(form.actions)|raw }}
        </div>

        <div class="column floated right aligned">
            {{ buttons(form.buttons)|raw }}
        </div>

    </div>
</div>