<section class="panel panel-default">

    {% if section.title %}
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ trans(section.title) }}
            </h3>
        </div>
    {% endif %}

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-24">

                {% for field in section.fields %}
                    {{ form.fields.get(field).render|raw }}
                {% endfor %}

            </div>
        </div>
    </div>

</section>
