<section class="panel panel-default">
    <div class="panel-body">

        <div class="row">

            <div class="col-lg-12">
                {{ actions }}
                <button
                        type="submit"
                        name="{{ .data.prefix }}action"
                        value="{{ value }}"
                        class="btn btn-{{ type }} btn-sm {{ class }}"
                {{{ attributes }}}>
                {{ if icon }}<i class="{{ fa fa-{{ icon }}"></i>{{ endif }}
                {{ text }}
                </button>
                {{ /actions }}
            </div>

            <div class="col-lg-12 text-right">
                {{ buttons }}
                <a class="btn btn-{{ type }} btn-sm" {{{ attributes }}}>
                {{ if icon }}<i class="fa fa-{{ icon }}"></i>{{ endif }}
                {{{ text }}}
                </a>
                {{ /buttons }}
            </div>

        </div>

    </div>
</section>