<section class="panel panel-default">
    <div class="panel-body">

        <div class="row">

            <div class="col-lg-12">
                {{ redirects }}
                <button
                        type="submit"
                        name="{{ .data.prefix }}action"
                        value="{{ value }}"
                        class="{{ button.class }}"
                {{{ button.attributes }}}>
                {{{ button.text }}}
                </button>
                {{ /redirects }}
            </div>

            <div class="col-lg-12 text-right">
                {{ buttons }}
                <a class="{{ class }}" {{{ attributes }}}>
                {{{ text }}}
                </a>
                {{ /buttons }}
            </div>

        </div>

    </div>
</section>