<section class="ui segment">

    {% if form.options.title %}
        <h2 class="ui dividing header">
            {{ trans(form.options.title) }}
        </h2>
    {% endif %}

    {% for field in form.fields %}
        {{ field.render()|raw }}
    {% endfor %}

</section>
