{{ if translatable }}
<div class="toolbar">

    {{ if translatable }}
    <div class="dropdown visible-lg-inline-block">
        <a href="#" class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-language"></i>&nbsp;Translations
        </a>
        <ul class="dropdown-menu">
            {{ locales }}
            <li class="{{ active then 'active' }}">
                <a href="#" data-toggle="form-locale" data-locale="{{ locale }}">{{ language }}</a>
            </li>
            {{ /locales }}
        </ul>

    </div>
    {{ endif }}

</div>
{{ endif }}