{% if form.options.translatable %}
    <div class="toolbar">

        {% if form.options.translatable %}

            <ul class="list-inline">
                {% for iso, name in config_get('streams.enabled_locales') %}
                    <li>
                        <a href="#" data-toggle="locale"
                           class="btn btn-xs btn-{{ iso == config_get('app.locale') ? 'primary' : 'default' }}"
                           data-locale="{{ iso }}">{{ name }}</a>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}

    </div>
{% endif %}
