{% if form.options.translatable %}
    {% if form.options.translatable %}

        <div class="ui secondary menu" style="margin-top: 0;">
            {% for iso, name in config_get('streams.enabled_locales') %}
                <a class="{{ iso == config_get('app.locale') ? 'active' }} item" data-toggle="locale"
                   data-locale="{{ iso }}">
                    {{ name }}
                </a>
            {% endfor %}
        </div>

    {% endif %}
{% endif %}
