{{ if options.translatable }}
<div class="toolbar">
    {{ if options.translatable }}
    <div class="dropdown" style="display: inline-block;">
        <button class="btn btn-sm btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <i class="fa fa-language"></i>&nbsp;Translations
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" data-toggle="form-locale" data-locale="en">English</a></li>
            <li><a href="#" data-toggle="form-locale" data-locale="fr">French</a></li>
            <li><a href="#" data-toggle="form-locale" data-locale="de">German</a></li>
        </ul>
    </div>
    {{ endif }}
</div>
{{ endif }}