{% if form.options.translatable %}
    <div class="toolbar">

        {% if form.options.translatable %}

            <ul class="list-inline">
                {% for language in available_locales() %}
                    <li>
                        <a href="#" data-toggle="locale" class="btn btn-xs btn-{{ language.iso == config_get('app.locale') ? 'primary' : 'default' }}"
                           data-locale="{{ language.iso }}">{{ language.name }}</a>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}

    </div>
{% endif %}
