<div class="form-group">

    <div class="locale-en">
        <label for="{{ field.type.fieldName }}">
            {{ field.name }}
            <small class="text-muted"><i class="fa fa-language"></i> English</small>
        </label>
        {{ field.type.input }}
    </div>

    <div class="locale-fr hidden">
        <label for="{{ field.type.fieldName }}">
            {{ field.name }} French
            <small class="text-muted"><i class="fa fa-language"></i> French</small>
        </label>
        {{ field.type.input }}
    </div>

    <div class="locale-de hidden">
        <label for="{{ field.type.fieldName }}">
            {{ field.name }} German
            <small class="text-muted"><i class="fa fa-language"></i> German</small>
        </label>
        {{ field.type.input }}
    </div>

    <div class="locale-it hidden">
        <label for="{{ field.type.fieldName }}">
            {{ field.name }} Italian
            <small class="text-muted"><i class="fa fa-language"></i> Italian</small>
        </label>
        {{ field.type.input }}
    </div>

    <div class="locale-ae hidden">
        <label for="{{ field.type.fieldName }}">
            {{ field.name }} Arabic
            <small class="text-muted"><i class="fa fa-language"></i> Arabic</small>
        </label>
        {{ field.type.input }}
    </div>

</div>