{{ add_asset("streams.js", "streams::js/table/actions.js") }}

<section class="panel panel-default">

    {% include "streams::ui/table/partials/views" %}

    <div class="panel-body" style="padding: 0;">

        {% include "streams::ui/table/partials/filters" %}

        {% if not entries.empty() %}
            <form method="post">
                <table class="table table-hover">

                    {% include "streams::ui/table/partials/head" %}
                    {% include "streams::ui/table/partials/body" %}
                    {% include "streams::ui/table/partials/foot" %}

                </table>
            </form>
        {% else %}
            <div class="no-results">
                <h3>{{ trans(options.get('no_results_message', 'streams::message.error.no_results')) }}</h3>
            </div>
        {% endif %}

    </div>
</section>
