{{ asset.add group="streams.js" file="streams::js/table/actions.js" filters="live" }}

<section class="panel panel-default">

    {{ include "streams::ui/table/partials/heading" }}

    <div class="panel-body" style="padding: 0;">

        {{ include "streams::ui/table/partials/filters" }}

        {{ if rows }}
        <form method="post">

            <table class="table table-hover{{ options.tableClass }}">

                {{ include "streams::ui/table/partials/thead" }}
                {{ include "streams::ui/table/partials/tbody" }}
                {{ include "streams::ui/table/partials/tfoot" }}

            </table>
        </form>
        {{ else }}
        <div class="no-results">
            <h3>{{ noResultsMessage }}</h3>
        </div>
        {{ endif }}

    </div>
</section>