<div class="card-{{ section.type ?: 'deck' }}" {{ html_attributes(section.attributes) }}>

    {% for section in group %}
        {% include "streams::form/partials/section" %}
    {% endfor %}

</div>