<div class="{{ section.class }}" {{ html_attributes(section.attributes) }}>

    {% if section.title %}
        <h2>
            {{ trans(section.title) }}
        </h2>
    {% endif %}

    {% for field in section.fields %}
        {% for field in form.fields.translations(field) %}
            {{ field.render|raw }}
        {% endfor %}
    {% endfor %}

</div>
