{% if table.options.title or table.options.description %}
    <div class="panel">

        {% if table.options.title %}
            <div class="panel-heading">
                <h4 class="title">
                    {{ trans(table.options.title)|raw }}

                    {% if table.options.description %}
                        <small class="clearfix">
                            {{ trans(table.options.description)|raw }}
                        </small>
                    {% endif %}
                </h4>
            </div>
        {% endif %}
        
    </div>
{% endif %}
