{% if not table.options.show_header %}

    <thead>
    <tr>

        {% if table.options.sortable %}
            <th style="width: 30px;">&nbsp;</th>
        {% endif %}

        {% if not table.actions.empty() %}
            <th style="width: 30px;">
                <label class="checkbox">
                    <input data-toggle="all" type="checkbox">
                </label>
            </th>
        {% endif %}

        {% for header in table.headers %}
            <th>
                {% if header.sortable %}
                    {{ html_link(url_current() ~ '?order_by[email]=foo', trans(header.heading)) }}
                {% else %}
                    {{ trans(header.heading)|raw }}
                {% endif %}
            </th>
        {% endfor %}

        <th class="buttons">&nbsp;</th>
    </tr>
    </thead>

{% endif %}
