{% if table.options.title or table.options.description %}
    <div class="panel">

        {% if table.options.title %}
            <div class="panel-heading">
                <h4 class="title">{{ trans(table.options.title)|raw }}</h4>
            </div>
        {% endif %}

        {% if table.options.description %}
            <div class="panel-body">
                {{ trans(table.options.description)|raw }}
            </div>
        {% endif %}

    </div>
{% endif %}
