{% if table.options.title or table.options.description %}

    {% if table.options.title %}
        <div class="{{ table.options.panel_heading_class }}">
            <h4 class="{{ table.options.panel_title_class }}">
                {{ trans(table.options.title)|raw }}

                {% if table.options.description %}
                    <small class="clearfix">
                        {{ trans(table.options.description)|raw }}
                    </small>
                {% endif %}
            </h4>
        </div>
    {% endif %}

{% endif %}
