{% if not table.views.empty() %}
    <nav id="views" class="navbar navbar-default">
        <ul class="nav navbar-nav">
            {% for view in table.views %}
                <li class="{{ view.isActive() ? 'active' }}">
                    <a href="{{ view.getUrl() }}" class="{{ view.class }}">
                        {{ trans(view.getText()) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
