:root {
    --color-transparent: transparent;
    --color-black: #000;
    --color-white: #fff;
    --color-gray-100: #f7fafc;
    --color-gray-200: #edf2f7;
    --color-gray-300: #e2e8f0;
    --color-gray-400: #cbd5e0;
    --color-gray-500: #a0aec0;
    --color-gray-600: #718096;
    --color-gray-700: #4a5568;
    --color-gray-800: #2d3748;
    --color-gray-900: #1a202c;
    --color-red-100: #fff5f5;
    --color-red-200: #fed7d7;
    --color-red-300: #feb2b2;
    --color-red-400: #fc8181;
    --color-red-500: #f56565;
    --color-red-600: #e53e3e;
    --color-red-700: #c53030;
    --color-red-800: #9b2c2c;
    --color-red-900: #742a2a;
    --color-orange-100: #fffaf0;
    --color-orange-200: #feebc8;
    --color-orange-300: #fbd38d;
    --color-orange-400: #f6ad55;
    --color-orange-500: #ed8936;
    --color-orange-600: #dd6b20;
    --color-orange-700: #c05621;
    --color-orange-800: #9c4221;
    --color-orange-900: #7b341e;
    --color-yellow-100: #fffff0;
    --color-yellow-200: #fefcbf;
    --color-yellow-300: #faf089;
    --color-yellow-400: #f6e05e;
    --color-yellow-500: #ecc94b;
    --color-yellow-600: #d69e2e;
    --color-yellow-700: #b7791f;
    --color-yellow-800: #975a16;
    --color-yellow-900: #744210;
    --color-green-100: #f0fff4;
    --color-green-200: #c6f6d5;
    --color-green-300: #9ae6b4;
    --color-green-400: #68d391;
    --color-green-500: #48bb78;
    --color-green-600: #38a169;
    --color-green-700: #2f855a;
    --color-green-800: #276749;
    --color-green-900: #22543d;
    --color-teal-100: #e6fffa;
    --color-teal-200: #b2f5ea;
    --color-teal-300: #81e6d9;
    --color-teal-400: #4fd1c5;
    --color-teal-500: #38b2ac;
    --color-teal-600: #319795;
    --color-teal-700: #2c7a7b;
    --color-teal-800: #285e61;
    --color-teal-900: #234e52;
    --color-blue-100: #ebf8ff;
    --color-blue-200: #bee3f8;
    --color-blue-300: #90cdf4;
    --color-blue-400: #63b3ed;
    --color-blue-500: #4299e1;
    --color-blue-600: #3182ce;
    --color-blue-700: #2b6cb0;
    --color-blue-800: #2c5282;
    --color-blue-900: #2a4365;
    --color-indigo-100: #ebf4ff;
    --color-indigo-200: #c3dafe;
    --color-indigo-300: #a3bffa;
    --color-indigo-400: #7f9cf5;
    --color-indigo-500: #667eea;
    --color-indigo-600: #5a67d8;
    --color-indigo-700: #4c51bf;
    --color-indigo-800: #434190;
    --color-indigo-900: #3c366b;
    --color-purple-100: #faf5ff;
    --color-purple-200: #e9d8fd;
    --color-purple-300: #d6bcfa;
    --color-purple-400: #b794f4;
    --color-purple-500: #9f7aea;
    --color-purple-600: #805ad5;
    --color-purple-700: #6b46c1;
    --color-purple-800: #553c9a;
    --color-purple-900: #44337a;
    --color-pink-100: #fff5f7;
    --color-pink-200: #fed7e2;
    --color-pink-300: #fbb6ce;
    --color-pink-400: #f687b3;
    --color-pink-500: #ed64a6;
    --color-pink-600: #d53f8c;
    --color-pink-700: #b83280;
    --color-pink-800: #97266d;
    --color-pink-900: #702459;
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 4rem;
    --font-hairline: 100;
    --font-thin: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;
    --tracking-tighter: -0.05em;
    --tracking-tight: -0.025em;
    --tracking-normal: 0;
    --tracking-wide: 0.025em;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;
    --bg-auto: auto;
    --bg-cover: cover;
    --bg-contain: contain;
    --border-0: 0;
    --border-2: 2px;
    --border-4: 4px;
    --border-8: 8px;
    --border: 1px;
    --rounded-none: 0;
    --rounded-sm: 0.125rem;
    --rounded: 0.25rem;
    --rounded-lg: 0.5rem;
    --rounded-full: 9999px;
    --w-0: 0;
    --w-1: 0.25rem;
    --w-2: 0.5rem;
    --w-3: 0.75rem;
    --w-4: 1rem;
    --w-5: 1.25rem;
    --w-6: 1.5rem;
    --w-8: 2rem;
    --w-10: 2.5rem;
    --w-12: 3rem;
    --w-16: 4rem;
    --w-20: 5rem;
    --w-24: 6rem;
    --w-32: 8rem;
    --w-40: 10rem;
    --w-48: 12rem;
    --w-56: 14rem;
    --w-64: 16rem;
    --w-auto: auto;
    --w-px: 1px;
    --w-1-2: 50%;
    --w-1-3: 33.333333%;
    --w-2-3: 66.666667%;
    --w-1-4: 25%;
    --w-2-4: 50%;
    --w-3-4: 75%;
    --w-1-5: 20%;
    --w-2-5: 40%;
    --w-3-5: 60%;
    --w-4-5: 80%;
    --w-1-6: 16.666667%;
    --w-2-6: 33.333333%;
    --w-3-6: 50%;
    --w-4-6: 66.666667%;
    --w-5-6: 83.333333%;
    --w-1-12: 8.333333%;
    --w-2-12: 16.666667%;
    --w-3-12: 25%;
    --w-4-12: 33.333333%;
    --w-5-12: 41.666667%;
    --w-6-12: 50%;
    --w-7-12: 58.333333%;
    --w-8-12: 66.666667%;
    --w-9-12: 75%;
    --w-10-12: 83.333333%;
    --w-11-12: 91.666667%;
    --w-full: 100%;
    --w-screen: 100vw;
    --h-0: 0;
    --h-1: 0.25rem;
    --h-2: 0.5rem;
    --h-3: 0.75rem;
    --h-4: 1rem;
    --h-5: 1.25rem;
    --h-6: 1.5rem;
    --h-8: 2rem;
    --h-10: 2.5rem;
    --h-12: 3rem;
    --h-16: 4rem;
    --h-20: 5rem;
    --h-24: 6rem;
    --h-32: 8rem;
    --h-40: 10rem;
    --h-48: 12rem;
    --h-56: 14rem;
    --h-64: 16rem;
    --h-auto: auto;
    --h-px: 1px;
    --h-full: 100%;
    --h-screen: 100vh;
    --min-w-0: 0;
    --min-w-full: 100%;
    --min-h-0: 0;
    --min-h-full: 100%;
    --min-h-screen: 100vh;
    --max-w-xs: 20rem;
    --max-w-sm: 24rem;
    --max-w-md: 28rem;
    --max-w-lg: 32rem;
    --max-w-xl: 36rem;
    --max-w-2xl: 42rem;
    --max-w-3xl: 48rem;
    --max-w-4xl: 56rem;
    --max-w-5xl: 64rem;
    --max-w-6xl: 72rem;
    --max-w-full: 100%;
    --max-h-full: 100%;
    --max-h-screen: 100vh;
    --p-0: 0;
    --p-1: 0.25rem;
    --p-2: 0.5rem;
    --p-3: 0.75rem;
    --p-4: 1rem;
    --p-5: 1.25rem;
    --p-6: 1.5rem;
    --p-8: 2rem;
    --p-10: 2.5rem;
    --p-12: 3rem;
    --p-16: 4rem;
    --p-20: 5rem;
    --p-24: 6rem;
    --p-32: 8rem;
    --p-40: 10rem;
    --p-48: 12rem;
    --p-56: 14rem;
    --p-64: 16rem;
    --p-px: 1px;
    --m-0: 0;
    --m-1: 0.25rem;
    --m-2: 0.5rem;
    --m-3: 0.75rem;
    --m-4: 1rem;
    --m-5: 1.25rem;
    --m-6: 1.5rem;
    --m-8: 2rem;
    --m-10: 2.5rem;
    --m-12: 3rem;
    --m-16: 4rem;
    --m-20: 5rem;
    --m-24: 6rem;
    --m-32: 8rem;
    --m-40: 10rem;
    --m-48: 12rem;
    --m-56: 14rem;
    --m-64: 16rem;
    --m-auto: auto;
    --m-px: 1px;
    --m--1: -0.25rem;
    --m--2: -0.5rem;
    --m--3: -0.75rem;
    --m--4: -1rem;
    --m--5: -1.25rem;
    --m--6: -1.5rem;
    --m--8: -2rem;
    --m--10: -2.5rem;
    --m--12: -3rem;
    --m--16: -4rem;
    --m--20: -5rem;
    --m--24: -6rem;
    --m--32: -8rem;
    --m--40: -10rem;
    --m--48: -12rem;
    --m--56: -14rem;
    --m--64: -16rem;
    --m--px: -1px;
    --shadows: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    --shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
    --shadows-none: none;
    --z-0: 0;
    --z-10: 10;
    --z-20: 20;
    --z-30: 30;
    --z-40: 40;
    --z-50: 50;
    --z-auto: auto;
    --opacity-0: 0;
    --opacity-25: 0.25;
    --opacity-50: 0.5;
    --opacity-75: 0.75;
    --opacity-100: 1;
}
