#header {
    @apply .flex .self-start .items-center .flex-wrap .bg-white .w-full;

    > nav {
        @apply .p-6 .flex-grow .text-right;
    }
}

.header__brand {
    @apply .flex .items-center .flex-shrink-0 .text-white .p-6 .w-56;

    svg {
        width: 40px;
        height: 40px;

        path {
            fill: var(--color-green-500);
        }
    }

    span {
        @apply .font-semibold .text-black .tracking-tight .ml-3;
    }
}

.header__search {
    @apply .p-6;

    ul {
        display: none;

        .selected {
            font-weight: bold;
        }
    }

    &.-open {
        background: red;

        ul {
            display: inherit;
        }
    }

    input[type="search"] {
        @apply .input .shadow-none .border-none .bg-gray-100;
        width: 25rem;

        &:focus {
            &:focus {
                @apply .border-blue-500 .outline-none;
            }
        }
    }
}

.header__toggle {
    @apply .block;

    button {
        @apply .outline-none;
    }

    button:not(.-open) {
        @apply .hidden;
    }

    &.-open {
        button.-open {
            @apply .hidden;
        }

        button:not(.-open) {
            @apply .inline-block;
        }
    }

    @screen lg {
        @apply .hidden;
    }
}

.header__indicator {
    @apply flex px-6 items-center text-gray-500 .outline-none;

    @variants focus,
    active {
        @apply .outline-none .text-gray-700;
    }

    svg {
        @apply .outline-none .w-4 .h-4;

        path {
            fill: val(--color-gray-700);
        }
    }

    @screen lg {
        @apply .hidden;
    }
}

.header__navigation {
    @apply .w-full .block .justify-end;

    &:not(.-open) {
        @apply .hidden;
    }

    @screen lg {
        @apply .flex .w-auto .block;

        &:not(.-open) {
            @apply .block;
        }
    }
}

.header__menu {
    @apply .text-sm;

    @screen lg {
        @apply .flex-grow;
    }

    a {
        @apply .block .mt-4 .text-gray-500 .mr-4;

        @screen lg {
            @apply .inline-block .mt-0;
        }

        &:hover {
            @apply .text-black;
        }
    }
}
