<section class="panel panel-default">

    {% if title %}
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ title }}
            </h3>
        </div>
    {% endif %}

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-24">

                {% for field in fields %}
                    <div class="form-group">
                        {{ field.input|raw }}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

</section>