<div class="panel controls">
    <div class="panel-body">

        {% if not form.options.read_only %}
            <div class="actions">
                {{ buttons(form.actions)|raw }}
            </div>
        {% endif %}

        <div class="buttons">
            {{ buttons(form.buttons)|raw }}
        </div>

    </div>
</div>
