<div class="controls {{ position }} {{ form.options.get('section_class', 'card') }}" data-spy="affix"
     data-offset-top="247">
    <div class="card-block">

        {% if not form.options.read_only %}
            <div class="actions">
                {{ buttons(form.actions)|raw }}
            </div>
        {% endif %}

        {% if position == 'top' %}
            {% if form.translatable %}
                {% include "streams::form/partials/translations" %}
            {% endif %}
        {% endif %}

        <div class="buttons">
            {{ buttons(form.buttons)|raw }}
        </div>

    </div>
</div>
