<div class="panel controls">
    <div class="panel-body">

        <div class="actions">
            {{ buttons(form.actions)|raw }}
        </div>

        <div class="buttons">
            {{ buttons(form.buttons)|raw }}
        </div>

    </div>
</div>
