<div class="panel">
    <div class="panel-body">

        <div class="pull-left">
            {{ buttons(form.actions)|raw }}
        </div>

        <div class="pull-right">
            {{ buttons(form.buttons)|raw }}
        </div>

    </div>
</div>
