<div class="panel">

    {% if form.options.title %}
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ trans(form.options.title) }}

                {% if form.options.description %}
                    <small class="clearfix">
                        {{ trans(form.options.description)|raw }}
                    </small>
                {% endif %}
            </h2>
        </div>
    {% endif %}

    <div class="panel-body">
        {% for field in form.fields %}
            {{ field.render|raw }}
        {% endfor %}
    </div>

</div>
