<div class="panel">

    {% if form.options.title %}
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ trans(form.options.title) }}
            </h2>
        </div>
    {% endif %}

    <div class="panel-body">
        {% for field in form.fields %}
            {{ field.render|raw }}
        {% endfor %}
    </div>

</div>
