<div class="{{ form.options.panel_class }}">

    <div class="{{ form.options.panel_body_class }}">
        {% for field in form.fields %}
            {{ field.render|raw }}
        {% endfor %}
    </div>

</div>
