<div class="card">
    <div class="card-block">
        {% for field in form.fields.base() %}
            <div class="field-group">
                {% if not field.locale %}
                    {{ field.render({'form': form})|raw }}
                {% else %}
                    {% for field in form.fields.translations(field.field) %}
                        {{ field.render({'form': form})|raw }}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>