<div class="card">
    <div class="card-block">
        {% for field in form.fields.base() %}
            <div class="field-group">
                {% for field in form.fields.translations(field.field) %}
                    {{ field.render({'form': form})|raw }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>