{% for field in fields %}
    <div class="field-group {{ field }}">
        {% for field in form.fields.translations(field) %}
            {{ field.render({'form': form})|raw }}
        {% endfor %}
    </div>
{% endfor %}
