{% if form.options.title %}
    <div class="panel">
        <div class="panel-heading">
            <h4 class="title">
                {{ trans(form.options.title)|raw }}
{{ trans('addon') }}
                {% if form.options.description %}
                    <small class="clearfix">
                        {{ trans(form.options.description)|raw }}
                    </small>
                {% endif %}
            </h4>
        </div>

    </div>
{% endif %}
