{% if form.options.title %}
    <div class="panel">
        <div class="panel-heading">
            <h4 class="title">{{ trans(form.options.title)|raw }}</h4>
        </div>

        <div class="panel-body">
            {% if form.options.description %}
                <p>{{ trans(form.options.description)|raw }}</p>
            {% endif %}
        </div>
    </div>
{% endif %}
