{% if form.options.title or form.options.description %}
    <div class="card">
        <div class="card-block">
            {% if form.options.title %}
                <h4 class="card-title">
                    {{ trans(form.options.title)|raw }}
                </h4>
            {% endif %}
            {% if form.options.description %}
                <p>
                    {{ trans(form.options.description)|raw }}
                </p>
            {% endif %}
        </div>
    </div>
{% endif %}