<div class="{{ section.class ?: 'panel' }}" {{ html_attributes(section.attributes) }}>

    {% if section.title %}
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ trans(section.title) }}
            </h2>
        </div>
    {% endif %}

    <div class="panel-body">
        {% for field in section.fields %}
            {% for field in form.fields.translations(field) %}
                {{ field.render|raw }}
            {% endfor %}
        {% endfor %}
    </div>

</div>
