<section class="{{ section.class ?: 'ui segment' }}" {{ html_attributes(section.attributes) }}>

    {% if section.title %}
        <h2 class="ui dividing header">
            {{ trans(section.title) }}
        </h2>
    {% endif %}

    {% for field in section.fields %}
        {% for field in form.fields.fields(field) %}
            {{ field.render|raw }}
        {% endfor %}
    {% endfor %}

</section>
