<div class="card" {{ html_attributes(section.attributes) }}>

    {% if section.title %}
        <div class="card-header">
            <h2 class="card-title">
                {{ trans(section.title) }}

                {% if section.description %}
                    <small>
                        <br>{{ trans(section.description)|raw }}
                    </small>
                {% endif %}
            </h2>
        </div>
    {% endif %}

    <div class="card-block">
        {% for field in section.fields %}
            {% for field in form.fields.translations(field) %}
                {{ field.render|raw }}
            {% endfor %}
        {% endfor %}
    </div>

</div>
