<section class="ui segment">

    {% if section.title %}
        <h2 class="ui dividing header">
            {{ trans(section.title) }}
        </h2>
    {% endif %}

    {% for field in section.fields %}
        {{ form.fields.get(field).render|raw }}
    {% endfor %}

</section>
