<div class="card {{ section.stacked ? 'card-flex' }}" {{ html_attributes(section.attributes) }}>

    {% include "streams::form/partials/header" with {"section": section} %}

    <div class="{{ not section.tabs ? 'card-block' }}">

        {% if section.fields %}
            {% include "streams::form/partials/fields" with {"fields": section.fields} %}
        {% elseif section.tabs %}
            {% include "streams::form/partials/tabs" with {"tabs": section.tabs, "stacked": section.stacked} %}
        {% elseif section.rows %}
            {% include "streams::form/partials/rows" with {"rows": section.rows} %}
        {% endif %}

    </div>
</div>
