{% if form.translatable %}
    <nav id="translations" class="navbar navbar-default">
        <ul class="nav navbar-nav">

            {% for iso in config_get('streams::locales.enabled') %}
                <li class="{{ iso == config_get('app.fallback_locale') ? 'active' }}">
                    <a href="#" lang="{{ iso }}">
                        {{ config_get('streams::locales.supported.' ~ iso ~ '.name') }}
                    </a>
                </li>
            {% endfor %}
            
        </ul>
    </nav>
{% endif %}
