{{ extends "theme::layouts/default" }}

{{ section "content" }}

{{{ form.open }}}

<div class="toolbar">
    <div class="dropdown" style="display: inline-block;">
        <button class="btn btn-sm btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <i class="fa fa-language"></i>&nbsp;Language
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">English</a></li>
            <li><a href="#">French</a></li>
            <li><a href="#">German</a></li>
        </ul>
    </div>

    <a href="#" class="btn btn-xs btn-link history">
        <i class="fa fa-history"></i>&nbsp;History
    </a>
</div>

{{ sections }}
<section class="panel panel-default {{ class }}">
    {{{ heading }}}
    {{{ body }}}
    {{{ footer }}}
</section>
{{ /sections }}

<section class="panel panel-default actions">
    <div class="panel-body">

        <div class="row">

            <div class="col-lg-12">
                {{ redirects }}
                <button type="submit" name="{{ name }}" value="{{ value }}" class="{{ class }}" {{{ attributes }}}>
                    {{{ title }}}
                </button>
                {{ /redirects }}
            </div>

            <div class="col-lg-12 text-right">
                {{ actions }}
                <a class="{{ class }}" {{{ attributes }}}>
                    {{{ title }}}
                </a>
                {{ /actions }}
            </div>

        </div>

    </div>
</section>

{{{ form.close }}}
{{ stop }}