{{ extends "theme::layouts/default" }}

{{ section "content" }}

{{ form.open }}

{{ sections as section }}
<section class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ section.title }}
        </h3>
    </div>
    <div class="panel-body">
        Hi there
    </div>
</section>
{{ /sections }}

<section class="panel panel-default">
    <div class="panel-body">
        {{ actions }}
        {{ button }}
        {{ /actions }}
    </div>
</section>

{{ form.close }}
{{ stop }}