{{ asset.add "streams.js" "streams::js/table/actions.js" }}

<!--<section class="panel panel-default table-search">
    <div class="panel-body">
        <form class="form-inline" method="get">
            <div class="form-group">
                <input type="text" name="test-filter" class="form-control" placeholder="Search...">
            </div>

            <button type="submit" class="btn btn-success">Search</button>
            <a href="{{ url.current }}" class="btn btn-link">Clear</a>
        </form>
    </div>
</section>-->

<section class="panel panel-default">
    {{ if views or filters }}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ if views }}
            <ul class="table-views">
                {{ views }}
                <li class="{{ class }}">
                    <a href="{{ _url }}">{{ title }}</a>
                </li>
                {{ /views }}
            </ul>
            {{ endif }}

            <a href="#" class="pull-right table-filter-toggle {{ options.filter_state }}" data-toggle="filters">
                <i class="fa fa-filter"></i> Filter
            </a>
        </h3>
    </div>
    {{ endif }}
    <div class="panel-body" style="padding: 0;">

        <div class="table-filters {{ options.filter_state }}">
            <form class="form-inline" method="get">
                <input type="hidden" name="filter" value="true">
                <input type="hidden" name="view" value="{{ input.view }}">

                {{ filters }}
                <div class="form-group">
                    {{{ _input }}}
                </div>
                {{ /filters }}

                <button type="submit" class="btn btn-success">Filter</button>
                <a href="{{ url.current }}" class="btn btn-link">Clear</a>
            </form>
        </div>

        {{ if rows }}
        <form method="post">
            <table class="table table-hover{{ options.tableClass }}">

                <!-- Table Head -->
                <thead>
                <tr>
                    {{ if options.sortable }}
                    <th>
                        <i class="fa fa-reorder" style="color: #dadada"></i>
                    </th>
                    {{ endif }}

                    {{ if actions }}
                    <th>
                        <input type="checkbox" data-toggle="all"/>
                    </th>
                    {{ endif }}

                    {{ headers }}
                    <th>
                        {{{ heading }}}
                    </th>
                    {{ /headers }}

                    <th>&nbsp;</th>
                </tr>
                </thead>


                <!-- Table Body -->
                <tbody>
                {{ rows }}
                <tr class="{{ class }}">
                    <td>
                        <i class="fa fa-reorder" style="cursor: move;"></i>
                    </td>

                    <td>
                        <input type="checkbox" name="id[]" value="{{ entry.id }}"/>
                    </td>

                    {{ columns }}
                    <td class="{{ class }}">
                        {{{ value }}}
                    </td>
                    {{ /columns }}

                    <td class="text-right">
                        {{ buttons }}
                        <div class="btn-group">
                            <a class="{{ class }}" {{{ attributes }}}>{{{ title }}}</a>
                            {{ if dropdown }}
                            <button type="button" class="{{ class }} dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                {{ dropdown }}
                                <li><a href="{{ url }}">{{ title }}</a></li>
                                {{ /dropdown }}
                            </ul>
                            {{ endif }}
                        </div>
                        {{ /buttons }}
                    </td>
                </tr>
                {{ /rows }}
                </tbody>


                <!-- Table Foot -->
                {{ if actions or pagination.links }}
                <tfoot>
                <tr>
                    <td colspan="100%" style="padding: 10px;">

                        <div class="btn-group actions">
                            {{ actions }}
                            <button type="submit" name="_action" value="{{ value }}" class="{{ class }}"
                            {{{ attributes }}}>
                            {{ title }}
                            </button>
                            {{ /actions }}
                        </div>

                        {{ if options.pagination }}
                        <div class="btn-group pull-right">
                            {{ pagination.links }}
                        </div>
                        {{ endif }}

                    </td>
                </tr>
                </tfoot>
                {{ endif }}

            </table>
        </form>
        {{ else }}
        <div class="no-results">
            <h3>{{ options.noResultsMessage }}</h3>
        </div>
        {{ endif }}

    </div>
</section>