<!-- Table Foot -->
<tfoot>
<tr>
    <td colspan="100%" style="padding: 10px;">

        {{ buttons(table.actions)|raw }}

        {% if pagination %}
            <div class="btn-group pull-right">
                {{ pagination|raw }}
            </div>
        {% endif %}
    </td>
</tr>
</tfoot>
