<!-- Table Foot -->
<tfoot>
<tr>
    <td colspan="100%" style="padding: 10px;">

        {{ buttons(table.actions)|raw }}

        {% if table.data.pagination.links %}
            <div class="btn-group pull-right">
                {{ table.data.pagination.links|raw }}
            </div>
        {% endif %}
    </td>
</tr>
</tfoot>
