{{ if views or filters }}
<div class="panel-heading">
    <h3 class="panel-title">
        {{ if views }}
        <ul class="table-views">
            {{ views }}
            <li class="{{ class }} {{ active then 'active' }}">
                <a href="{{ url }}">{{ text }}</a>
            </li>
            {{ /views }}
        </ul>
        {{ endif }}

        <a href="#" class="pull-right table-filter-toggle {{ filtering then 'active' }}" data-toggle="filters">
            <i class="fa fa-filter"></i> Filter
        </a>
    </h3>
</div>
{{ endif }}