{% if not table.options.show_header %}

    <thead>
    <tr>

        {% if table.options.sortable %}
            <th>
                <i class="fa fa-reorder text-muted"></i>
            </th>
        {% endif %}

        {% if not table.actions.empty() %}
            <th class="ascending">
                <div class="ui checkbox">
                    <input data-toggle="all" type="checkbox" class="ui checkbox">
                </div>
            </th>
        {% endif %}

        {% for header in table.headers %}
            <th>
                {{ trans(header.heading) }}
            </th>
        {% endfor %}

        <th>&nbsp;</th>
    </tr>
    </thead>

{% endif %}
