<!-- Table Body -->
<tbody>
{{ rows }}
<tr class="{{ class }}">

    {{ if .data.sortable }}
    <td>
        <i class="fa fa-reorder" style="cursor: move;"></i>
    </td>
    {{ endif }}

    {{ if .data.actions }}
    <td>
        <input type="hidden" name="{{ .data.options.prefix }}order[]" value="{{ entry.id }}"/>
        <input type="checkbox" name="{{ .data.options.prefix }}id[]" value="{{ entry.id }}"/>
    </td>
    {{ endif }}

    {{ columns }}
    <td class="{{ class }}"
    {{{ attributes }}}>
    {{{ value }}}
    </td>
    {{ /columns }}

    <td class="text-right">
        {{ buttons }}
        <div class="btn-group">
            <a class="bt btn-{{ type }} btn-sm" {{{ attributes }}}>
            {{ if icon }}<i class="fa fa-{{ icon }}"></i>{{ endif }}
            {{{ text }}}
            </a>
        </div>
        {{ /buttons }}
    </td>
</tr>
{{ /rows }}
</tbody>