<!-- Table Body -->
<tbody>
{{ rows }}
<tr class="{{ class }}">

    {{ if .data.sortable }}
    <td>
        <i class="fa fa-reorder" style="cursor: move;"></i>
    </td>
    {{ endif }}

    {{ if .data.actions }}
    <td>
        <input type="hidden" name="{{ .data.options.prefix }}order[]" value="{{ entry.id }}"/>
        <input type="checkbox" name="{{ .data.options.prefix }}id[]" value="{{ entry.id }}"/>
    </td>
    {{ endif }}

    {{ columns }}
    <td class="{{ class }}"
    {{{ attributes }}}>
    {{{ value }}}
    </td>
    {{ /columns }}

    <td class="text-right">
        {{ buttons }}
        <div class="btn-group">
            <a class="btn btn-{{ type }} btn-sm" {{{ attributes }}}>
            {{ if icon }}<i class="fa fa-{{ icon }}"></i>{{ endif }}
            {{{ text }}}
            </a>
            {{ if dropdown }}
            <a class="btn btn-{{ type }} btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </a>
            {{ dropdown }}
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="{{ url }}">
                        {{ if icon }}<i class="fa fa-{{ icon }}"></i>{{ endif }}
                        {{ text }}
                    </a>
                </li>
            </ul>
            {{ /dropdown }}
            {{ endif }}
        </div>
        {{ /buttons }}
    </td>
</tr>
{{ /rows }}
</tbody>