<!-- Table Foot -->
{{ if actions or pagination.links }}
<tfoot>
<tr>
    <td colspan="100%" style="padding: 10px;">

        <div class="pull-left actions dropup">

            <button type="button" class="btn btn-mute btn-sm" data-toggle="dropdown" disabled>
                More Actions <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                {{ actions }}
                <li>
                    <button type="submit" name="action" value="{{ slug }}">{{ text }}</button>
                </li>
                {{ /actions }}
            </ul>

        </div>

        {{ if pagination.links }}
        <div class="btn-group pull-right">
            {{{ pagination.links }}}
        </div>
        {{ endif }}

    </td>
</tr>
</tfoot>
{{ endif }}