<!-- Table Foot -->
{{ if actions or pagination.links }}
<tfoot>
<tr>
    <td colspan="100%" style="padding: 10px;">

        <div class="btn-group pull-left actions dropup">

            {{ actions }}
            <button class="btn btn-sm btn-{{ type }}" disabled
            {{{ attributes }}}>
            {{ text }}
            </button>
            {{ if dropdown }}
            <button class="btn btn-{{ type }} btn-sm dropdown-toggle" data-toggle="dropdown" disabled>
                <span class="caret"></span>
            </button>
            {{ dropdown }}
            <ul class="dropdown-menu">
                <li>
                    <button value="{{ slug }}" name="{{ name }}">
                        {{ if icon }}<i class="fa fa-{{ icon }}"></i>{{ endif }}
                        {{ text }}
                    </button>
                </li>
            </ul>
            {{ /dropdown }}
            {{ endif }}
            {{ /actions }}

        </div>

        {{ if pagination.links }}
        <div class="btn-group pull-right">
            {{{ pagination.links }}}
        </div>
        {{ endif }}

    </td>
</tr>
</tfoot>
{{ endif }}