<!-- Table Foot -->
{{ if actions or pagination.links }}
<tfoot>
<tr>
    <td colspan="100%" style="padding: 10px;">

        <div class="pull-left actions dropup">

            {{ actions }}
            <button type="submit" name="action" value="{{ slug }}" class="btn btn-sm btn-{{ type }}" disabled {{ attributes }}>
                {{ text }}
            </button>
            {{ /actions }}

        </div>

        {{ if pagination.links }}
        <div class="btn-group pull-right">
            {{{ pagination.links }}}
        </div>
        {{ endif }}

    </td>
</tr>
</tfoot>
{{ endif }}