<!-- Table Head -->
<thead>
<tr>
    {{ if options.sortable }}
    <th>
        <i class="fa fa-reorder" style="color: #dadada"></i>
    </th>
    {{ endif }}

    {{ if actions }}
    <th>
        <input type="checkbox" data-toggle="all"/>
    </th>
    {{ endif }}

    {{ headers }}
    <th>
        <a href="{{ url }}">
            {{{ heading }}}
            {{ if sorting == "desc" }}
            <i class="fa fa-caret-down text-muted"></i>
            {{ elseif sorting == "asc" }}
            <i class="fa fa-caret-up text-muted"></i>
            {{ endif }}
        </a>
    </th>
    {{ /headers }}

    <th>&nbsp;</th>
</tr>
</thead>