<!-- Table Head -->
<thead>
<tr>

    <th>
        <i class="fa fa-reorder" style="color: #dadada"></i>
    </th>

    <th>
        <input type="checkbox" data-toggle="all"/>
    </th>
    
    {% for header in headers %}
        <th>
            <a href="#">
                {{ header.text }}
            </a>
        </th>
    {% endfor %}

    <th>&nbsp;</th>
</tr>
</thead>