{% if not table.views.empty() %}
    <div class="ui horizontal segment views">

        <div class="ui secondary menu" style="margin-top: 0;">
            {% for view in table.views %}
                <a href="{{ view.getUrl() }}" class="item {{ view.class }} {{ view.isActive() ? 'active' }}">
                    {{ trans(view.getText()) }}
                </a>
            {% endfor %}
        </div>

    </div>
{% endif %}
