{{ asset_add("scripts.js", "streams::js/form/form.js") }}
{{ asset_add("scripts.js", "streams::js/form/translations.js") }}

{% block content %}

    <div class="container-fluid">

        {{ form_open({'class': 'form', 'enctype': 'multipart/form-data', 'url': url_full()}) }}

        {# Chrome Autocomplete Fix #}
        <input style="display:none">
        <input type="password" style="display:none">

        {% include "streams::form/partials/translations" %}
        {% include "streams::form/partials/heading" %}
        {% include "streams::form/partials/layout" %}
        {% include "streams::form/partials/controls" %}

        {{ form_close() }}

    </div>

{% endblock %}
