{{ asset_add("scripts.js", "streams::js/form/form.js") }}
{{ asset_add("scripts.js", "streams::js/form/locale.js") }}

{% block content %}

    <div class="container-fluid">

        {{ form_open({'class': 'ui form'}) }}

        {% include "streams::form/partials/toolbar" %}
        {% include "streams::form/partials/heading" %}
        {% include "streams::form/partials/layout" %}
        {% include "streams::form/partials/controls" %}

        {{ form_close() }}

    </div>

{% endblock %}
