{{ asset_add("scripts.js", "streams::js/tree/tree.js", ["debug"]) }}

{% import "streams::tree/macro" as macro %}

{% block content %}

    <div class="container-fluid">

        <ul class="tree sortable">
            {{ macro.tree(tree.items.root(), tree) }}
        </ul>

    </div>

{% endblock %}
