{{ asset_add("scripts.js", "streams::js/form/form.js") }}

{% block content %}

    <div class="ui segment basic" style="margin-top: 0;">
        {{ form_open({'class': 'ui form'}) }}

        {% include "streams::ui/form/partials/toolbar" %}
        {% include "streams::ui/form/partials/layout" %}
        {% include "streams::ui/form/partials/controls" %}

        {{ form_close() }}
    </div>

{% endblock %}
